<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="crw.bishe.team.mapper.auth.OperatorLogMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="crw.bishe.team.entity.auth.OperatorLog">
                    <id column="LOG_ID" property="logId"/>
                    <result column="REVISION" property="revision"/>
                    <result column="CREATED_BY" property="createdBy"/>
                    <result column="CREATED_TIME" property="createdTime"/>
                    <result column="UPDATED_BY" property="updatedBy"/>
                    <result column="UPDATED_TIME" property="updatedTime"/>
                    <result column="OPERATOR_USER" property="operatorUser"/>
                    <result column="OPERATOR_TIME" property="operatorTime"/>
                    <result column="OPERATOR_TYPE" property="operatorType"/>
                    <result column="OPERATOR_DESC" property="operatorDesc"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            REVISION, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, LOG_ID, OPERATOR_USER, OPERATOR_TIME, OPERATOR_TYPE, OPERATOR_DESC
        </sql>

    <select id="getOnlineUser" resultType="java.lang.Long">

    </select>

</mapper>