<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="crw.bishe.team.mapper.auth.RoleGroupMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="crw.bishe.team.entity.auth.RoleGroup">
                    <id column="ROLE_GROUP_ID" property="roleGroupId"/>
                    <result column="REVISION" property="revision"/>
                    <result column="CREATED_BY" property="createdBy"/>
                    <result column="CREATED_TIME" property="createdTime"/>
                    <result column="UPDATED_BY" property="updatedBy"/>
                    <result column="UPDATED_TIME" property="updatedTime"/>
                    <result column="ROLE_GROUP_NAME" property="roleGroupName"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            REVISION, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, ROLE_GROUP_ID, ROLE_GROUP_NAME
        </sql>

</mapper>