<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="crw.bishe.team.mapper.everyday_task.EverydayTaskMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="crw.bishe.team.entity.everyday_task.EverydayTask">
                    <id column="everyday_task_id" property="everydayTaskId"/>
                    <result column="content" property="content"/>
                    <result column="finish" property="finish"/>
                    <result column="clock_time" property="clockTime"/>
                    <result column="user_id" property="userId"/>
                    <result column="summary" property="summary"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            everyday_task_id, content, finish, clock_time, user_id, summary
        </sql>

</mapper>