<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="crw.bishe.team.mapper.bolg.BolgArticleMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="crw.bishe.team.entity.bolg.BolgArticle">
                    <id column="article_id" property="articleId"/>
                    <result column="article_tilte" property="articleTilte"/>
                    <result column="article_content" property="articleContent"/>
                    <result column="article_views" property="articleViews"/>
                    <result column="article_comment_count" property="articleCommentCount"/>
                    <result column="article_create_date" property="articleCreateDate"/>
                    <result column="article_like_count" property="articleLikeCount"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            article_id, article_tilte, article_content, article_views, article_comment_count, article_create_date, article_like_count
        </sql>

    <select id="queryBolg" parameterType="integer" resultType="crw.bishe.team.vo.bolg.ArticleVo">
        select article.article_id,article.article_tilte, article.article_content, user.USER_NAME, article.article_create_date,
       article.article_image, article.last_update_time, article.article_views, article.article_like_count
            from bolg_article article
            join v_user_info user on user.USER_ID = article.user_id
        where article_id = #{articleId}
    </select>

    <select id="queryTenArticle" resultType="crw.bishe.team.vo.bolg.TenArticleVo">
        select article_id, article_title, last_update_time from bolg_article order by last_update_time desc limit 10
    </select>

</mapper>