<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="crw.bishe.team.mapper.StudyPlanMapper">
  <resultMap id="BaseResultMap" type="crw.bishe.team.entity.StudyPlan">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sp_id" jdbcType="INTEGER" property="spId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="sp_title" jdbcType="VARCHAR" property="spTitle" />
    <result column="sp_context" jdbcType="VARCHAR" property="spContext" />
    <result column="sp_time" jdbcType="DATE" property="spTime" />
    <result column="sp_link" jdbcType="VARCHAR" property="spLink" />
  </resultMap>
</mapper>